/* setting every element as border-box */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}



/* style the body */
body {
    width: 100%;
    height: 100vh;
    background: rgb(240, 239, 243);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* style the container */
.container {
    width: 375px;
    height: 520px;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 4rem rgba(0, 0, 0, 0.06);
    padding: 1.5rem;
    overflow-y: scroll;
}

.container::-webkit-scrollbar {
    display: none;
}

/* style the form */
.container form {
    width: 100%;
    border: 0.1rem solid black;
    border-radius: 0.3rem;
    position: sticky;
    margin: 0 0 1rem 0;
    padding: 0.3rem;
}

/* style the input */
.container form input {
    border: none;
    outline: none;
    width: 100%;
    padding: 0.2rem;
}

/* style the product list */
.product {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0.5rem 0;
}

/* style the product image */
.product img {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 5px;
    margin: 0.1rem;
}

.product h2 {
    font-size: 1.3rem;
    padding: 0 0.5rem 0 0;
}

.product h3 {
    font-size: 0.8rem;
}


@media only screen and (width <= 600px) {
    body {
      background-color: lightblue;
    }

    .container {
        width: 90vw;
        height: 80vh;
    }
  }

@media only screen and (width <= 820px) {
body {
    background-color: lightblue;
}

.container {
    width: 70vw;
    height: 80vh;
}
}